.form-init .form-group .form-group.input-wrap
    width: 1%
    margin-top: 0
    height: 60px
    margin-bottom: 0
.form-init .form-group.multiply
    +media-breakpoint-down(sm)
        height: auto
.form-init .form-group .form-group
    margin-left: 15px
    margin-right: 15px
    width: 1%
    flex: 1 1 auto

.form-init .form-group .form-group .form-group
    margin-right: 0
.form-init .form-group .form-group.input-wrap,.form-init .form-group .form-group.simulate-wrap
    height: 60px
.form-init .form-group.multiply
    height: 60px
    margin-left: -15px
    margin-right: -15px
.form-init form
    display: flex
    flex-wrap: wrap
    margin-right: 0
    margin-left: 0
    // border-radius: 10px
    // background-color: #fff
    // padding: 60px 33px
    // border: 10px solid #fbbf46
.form-init .input-wrap input:not([type="submit"])
    padding: 0
    color: #1d242b
    +font
    font-size: 1rem
    max-width: 100%
    width: 100%
    margin: auto 0 0
    height: 35px
    border-radius: 0
    border: 0
    background-color: transparent
    +hvr
        box-shadow: none
.form-init textarea
    border-radius: 0
    border: 0
    padding: 0 25px
    color: #444
    +font
    font-size: 12px
    margin: 15px 0
    max-width: 100%
    max-height: 250px
    height: 160px
    min-height: 51px
    width: 100%
    +hvr
        box-shadow: none
.form-init 
    .form-group
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-between
        margin-bottom: 0
        position: relative
        height: 30px
        &.input-wrap
            height: 40px
            margin-bottom: 10px
            &:before
                content: ''
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                height: 2px
                background-color: #BDBDBD
                z-index: 1
            &:after
                content: ''
                position: absolute
                bottom: 0
                left: 0
                width: 0
                height: 2px
                background-color: #0077c0
                z-index: 2
                transition: width 2s
            &.focused:after,
            &.filled:after
                width: 100%
        


.form-init label
    -ms-transform: none
    -webkit-transition: all 0.25s
    transition: all 0.25s
    color: #1d242b
    +font
    font-size: 13px
    margin: 11px 0 0

.form-init .input-wrap.focused label,
.form-init .input-wrap.filled label
    transform: translateY(-20px) translateX(-13.5%) scale(0.74)
    background-color: transparent
    display: block
    padding: 0
    border-radius: 0
    line-height: 30px


.form-init .form-title
    color: #444
    font-size: 24px
    +font
    display: block
    text-align: center
    margin-bottom: 30px


.form-init .lab-wrap
    position: absolute
    left: 0
    -webkit-box-sizing: content-box
    box-sizing: content-box
    height: 100%
    max-height: 30px
    overflow: hidden
    pointer-events: none
    bottom: 5px
    margin: auto
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    display: flex
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    max-width: 100%
    width: 100%
    padding-left: 0
    padding-top: 15px
    -webkit-transition: all 0.25s
    transition: all 0.25s
.form-init.simulate 
    .lab-wrap
        position: relative
    .form-group
        height: initial
    .form-control
        border-radius: 18px
        border: 1px solid #ddd
.form-init input:not([type="submit"]):focus,
.form-init textarea:focus
    outline: 0
    border-color: #fbbf46
+media-breakpoint-down(md)
    .form-init .input-wrap.text-area .lab-wrap
        margin-top: 0

    .form-init .form-group .form-group.input-wrap
        width: 100%
        margin: 0
        .form-init .form-group.multiply
            height: auto
.form-init .form-group .form-group.input-wrap
    width: 1%
    margin-top: 0
    height: 60px
    margin-bottom: 0
    +media-breakpoint-down(sm)
        width: 100%
        margin: 10px auto
.form-init .input-wrap.multiply input:not([type="submit"])
    flex: 1 1 auto
    width: 1%