body
  // --container: 100%
  // +media-breakpoint-up(sm)
  //   --container: 540px
  // +media-breakpoint-up(md)
  //   --container: 720px
  // +media-breakpoint-up(lg)
  //   --container: 960px
  // +media-breakpoint-up(xl)
  //   --container: 1140px

// main.wrap::before
//   content: ""
//   display: block
//   padding-top: 85px
//   background-color: #000
//   z-index: -1
//   pointer-events: none
//   +media-breakpoint-down(sm)
//     padding-top: 50px
+keyframes(headin)
	from
		max-height: 0
    opacity: 0
	to
		max-height: 60px
		opacity: 1
header.main-head
  // background-color: #18191b
  height: 85px
  display: flex
  position: absolute
  flex-wrap: wrap
  align-items: center
  max-width: 100%
  max-height: 85px
  z-index: 999
  top: 0
  opacity: 1
  // position: fixed
  transition: top 0.35s, opacity 0.35s, height 0.35s, background-image 0.35s
  width: 100%
  left: 0
  +mediaMax(xs)
    background-image: linear-gradient(to top, #025aa2 0%, #03a1fc 100%)
  // &.scrolling
  //   top: 0
  //   height: 60px
  //   opacity: 1
  //   background-color: #18191bc2
  //   &.scrolling.hide
  //     top: -85px
  //     opacity: 0
  &.bg
    overflow: hidden
    +hvr
      overflow: visible
    height: 60px
    position: fixed
    background-image: linear-gradient(to top, rgba(2, 90, 162, .75) 0%, rgba(3, 161, 252, .75) 100%)
    animation: headin 0.8s cubic-bezier(0.54, 1.5, 0.38, 1.11)
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)
    &.hide
      top: -85px
  +media-breakpoint-down(sm)
    height: 60px
  .main-nav
    display: flex
    flex-wrap: wrap
    max-width: 100%
    align-items: center
    .btn.light
      text-transform: capitalize
      line-height: 22px
      height: 20px
      width: 85px
    .logo-wrap
      +ai(center)
      +d-flex
      position: relative
      +media-breakpoint-down(sm)
        height: 60px
      img
        width: 176px
        max-height: 100%
        +media-breakpoint-down(xs)
          width: 124px
    .nav-menu
      display: flex
      flex-wrap: wrap
      align-items: center
      max-width: 100%
      margin-left: auto
      ul
        position: relative
        li
          a,
          span
            padding: 17px 25px
            text-decoration: none
            display: block
            color: #fff
            font-family: "Museo Sans Cyrl -300", sans-serif
            font-size: 12px
            font-weight: 400
            line-height: 20px
            text-transform: uppercase
            transition: 0.35s color
            +media-breakpoint-down(md)
              padding: 15px 8px
              font-size: 11px
        li.current_page_item a,
        li.current_page_item span
          color: #f2b408
          cursor: default
header.bg .dropdown-menu
    opacity: 0
    transition: opacity .35s
header.bg:hover .dropdown-menu 
    opacity: 1
.toggle-nav:not(.opened) span.less
  width: 15px
.toggle-nav span.less 
    right: 0
    left: initial