.nav-mobile 
  position: fixed
  opacity: 0
  top: calc(-100% + 60px)
  height: 100%
  background-color: #0077c0
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  left: 0
  max-height: 0
  width: 100%
  overflow: hidden
  transition: all 0.6s
  box-shadow: 2px 0 15px 3px #333333fa
  z-index: 998
  max-height: 100vh
  max-width: 100vw


.nav-menu-toggler 
  z-index: 10001
  margin-left: auto


.nav-open header 
  top: 0 !important
  opacity: 1 !important
  background-image: none
  background-color: #0077c0
  pointer-events: none

  .nav-menu-toggler 
    pointer-events: all
  


.nav-mobile .nav-dropdown 
  display: block
  max-height: 0
  opacity: 0
  position: relative
  top: 0
  width: 100%
  padding: 0
  border-left: 0
  border-right: 0
  float: left
  font-size: 1rem
  text-align: left
  list-style: none
  background-clip: padding-box
  transition: all 0.25s


.nav-mobile .nav-dropdown.open 
  max-height: 100%
  opacity: 1


.nav-mobile .nav 
  flex-direction: column
  justify-content: center
  justify-self: center
  width: 85%


.toggle-nav 
  width: 30px
  height: 20px
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: 0.5s ease-in-out
  -moz-transition: 0.5s ease-in-out
  -o-transition: 0.5s ease-in-out
  transition: 0.5s ease-in-out
  cursor: pointer
  background-color: transparent
  outline: none
  border: none


.toggle-nav:focus,
.toggle-nav:active 
  background-color: transparent
  outline: none
  border: none


.toggle-nav span 
  display: block
  position: absolute
  height: 3px
  width: 100%
  background: #fff
  opacity: 1
  left: 0
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: 0.25s ease-in-out
  -moz-transition: 0.25s ease-in-out
  -o-transition: 0.25s ease-in-out
  transition: 0.25s ease-in-out
  transition-delay: 0s


.toggle-nav.opened span 
  transition-delay: 0.35s


.toggle-nav span:nth-child(1) 
  top: 0


.toggle-nav span:nth-child(2),
.toggle-nav span:nth-child(3) 
  top: 10px


.toggle-nav span:nth-child(4) 
  top: 20px


.nav-mobile li.current_page_item span 
  // @extend .active-link


.toggle-nav.opened span:nth-child(1) 
  top: 10px
  width: 0%
  left: 50%


.toggle-nav.opened span:nth-child(2) 
  -webkit-transform: rotate(45deg)
  -moz-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform: rotate(45deg)


.toggle-nav.opened span:nth-child(3) 
  -webkit-transform: rotate(-45deg)
  -moz-transform: rotate(-45deg)
  -o-transform: rotate(-45deg)
  transform: rotate(-45deg)


.nav-mobile li a 
  padding-left: 8px
  display: inline-block
  height: 45px
  font-size: 14px
  color: #fff
  text-transform: uppercase
  +font
  // font-family: $font-main-300

  @include hover


.nav-mobile .menu-item-has-children a 
  padding-left: 8px


.nav-mobile .menu-item-has-children button 
  vertical-align: middle
  width: 45px
  display: inline-block
  height: 45px
  font-size: 28px
  padding-right: 3px
  background-color: transparent
  border: 0
  outline: 0
  color: #555d66
  box-shadow: 2px 0 3px 1px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)


.nav-mobile li 
  padding: 0
  line-height: 45px
  width: 100%
  float: left
  border-left: 0
  border-right: 0
  text-align: center


.nav-mobile .nav-dropdown li 
  border: 0
  box-shadow: inset 2px 1px 7px 1px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)


.toggle-nav.opened span:nth-child(4) 
  top: 20px
  width: 0%
  left: 50%


.nav-mobile .nav-dropdown a 
  width: calc(100% - 45px)
  float: right


.dropdown_toggle.fa-caret-down::before 
  transform: rotate(0)
  display: block
  transition: all 0.25s


.dropdown_toggle.opened.fa-caret-down::before 
  transform: rotate(180deg)


body.nav-open .nav-mobile 
    left: 0
    max-height: 100%
    top: 0
    opacity: 1


body.nav-open 
  overflow: hidden

+keyframes(tooltin)
	from
		opacity: 0
		transform: translateY(-5px) scale(.5)
	to
		transform: translateY(0) scale(1)
		opacity: 1
+keyframes(tooltout)
	from
		opacity: 1
		transform: translateY(0) scale(1)
	to
		opacity: 0
		transform: translateY(-5px) scale(.5)
.dropdown .dropdown-menu
  animation: tooltin 0.35s cubic-bezier(.54,1.5,.38,1.11)
  background-color: #e0f4fc
  border-radius: 10px
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)
  border: 0
  min-width: 85px
  background-image: linear-gradient(to top, #a3e2fd 0%, #c7eeff 100%)
  .dropdown-item
    padding: 0.25rem 0
    text-align: center
    +font
    font-size: .9rem
    border: 0
    transition: all .35s
    &:active,
    &.active
      background-color: #178dd8
      cursor: default
  .dropdown-item:not(.active):hover, 
  .dropdown-item:focus
      background-color: rgba(0, 0, 0, 0.04)