.img-fluid
    max-width: 100%
    height: auto
section.hero
    background-image: url('../images/hero-bg.png')
    padding: 100px 0 100px
    background-size: 100% 100%
    align-items: center
    display: flex
    height: 800px
    color: #ffffff
    +mediaMax(xs)
        height: initial
        +_bg
        text-align: center
        color: #222222
    .hero-title
        +Font($font-heavy, 400)
        font-size: 5rem
        line-height: 4.75rem
        text-transform: uppercase
        margin-bottom: 0
        span
            display: block
        +mediaMax(xs)
            margin-bottom: 10px
            font-size: 4rem
            +_before
        +before
            top: 0px
            left: -106px
            margin: auto
            width: 212px
            height: 212px
            +bg('../images/hero-element1.png')
    .hero-desc
        font-family: Aileron
        font-size: 1.5rem
        +Font($font-light, 400)
        line-height: 3.125rem
    .btn.light
        margin-top: 90px
        +mediaMax(xs)
            margin-top: 50px
section.our-service
    .service-items
        .item
            text-align: center
            color: #1d242b
            +px(1.563rem)
            .item-img
                +bg("../images/serviceitem-bg.png")
                background-repeat: no-repeat
                background-position: 50% 50%
                background-size: contain
                padding: 35px 0
                height: 150px
            .item-title
                +f-heavy
                font-size: 1.125rem
            .item-desc
                +font
                font-size: 0.875rem
                line-height: 1.25rem
section.contact-us
    .form-init .form-group.input-wrap
        margin-bottom: 30px
.about-column
    +d-flex
    flex-direction: column
    +ai(flex-start)
.captcha span
    position: relative
.about-content .form-wrap .form-group
    margin-bottom: 20px