$font-black: "AileronBlack";
$font-heavy: "AileronHeavy";
$font-semi: "AileronSemi Bold";
$font-light: "Aileronlight";
$font: "Aileron";
$noah: "Noah";
+font-face($font-black, "Aileron/Aileronblack", 400)
+font-face($font-semi, "Aileron/Aileronsemibold", 400)
+font-face($font-heavy, "Aileron/Aileronheavy", 400)
+font-face($font, "Aileron/Aileronitalic", 300, italic)
+font-face($font, "Aileron/Aileron", 400)
+font-face($font-light, "Aileron/Aileronlight", 400)
+font-face($noah, "Noah/Noahregular", 400)
+font-face($noah, "Noah/Noahbold", 700)
=mediaMax($name, $breakpoints: $grid-breakpoints)
    $max: breakpoint-max($name, $breakpoints);
    @if $max 
        @media (max-width: $max) 
            @content
    @else 
        @content
=mediaMin($name, $breakpoints: $grid-breakpoints)
    $min: breakpoint-min($name, $breakpoints);
    @if $min
        @media (min-width: $min) 
            @content
    @else 
        @content
=font
    +Font($font, 400)
=f300
    +Font($font, 400)
=f400
    +Font($font, 400)
=f700
    +Font($font, 700)
=f500
    +Font($font, 500)
=f-black
    +Font($font-black, 400)
=f-heavy
    +Font($font-heavy, 400)
=f-semi
    +Font($font-semi, 400)
=f-italic
    +Font($font, 300)
    font-style: italic
=f-light
    +Font($font-light, 400)
=f-fix
    +Font($font-light, 700)
=f-noah
    +Font($noah, $weight)
=noah($weight)
    +Font($noah, $weight)
=mx-auto
    margin-left: auto
    margin-right: auto
=x-auto
    left: 0
    right: 0
=X-auto
    +mx-auto
    +x-auto
=px($value)
    padding-left: $value
    padding-right: $value
=py($value)
    padding-top: $value
    padding-bottom: $value
body
    +Font($font, 400)
    color: #1d242b
    background-color: #fafafa
html
    +mediaMax(xl)
        --container: 1140px
        font-size: 100%
    +mediaMax(lg)
        --container: 960px
        font-size: 90%
    +mediaMax(md)
        --container: 720px
        font-size: 75%
    +mediaMax(sm)
        --container: 540px
        // font-size: 60%

$offset: 187;
$duration: 1.4s;

.spinner
    animation: rotator $duration linear infinite


@keyframes rotator 
    0% 
        transform: rotate(0deg)
    100% 
        transform: rotate(270deg)


.path 
    stroke-dasharray: $offset
    stroke-dashoffset: 0
    transform-origin: center
    animation: dash $duration ease-in-out infinite, colors ($duration*4) ease-in-out infinite

div.wpcf7
    width: 100%
@keyframes colors 
    0%
        stroke: #4285F4
    25%
        stroke: #DE3E35
    50%
        stroke: #F7C223
    75%
        stroke: #1B9A59
    100% 
        stroke: #4285F4


@keyframes dash
0% 
    stroke-dashoffset: $offset
50% 
    stroke-dashoffset: $offset/4
    transform:rotate(135deg)
100%
    stroke-dashoffset: $offset
    transform:rotate(450deg)
header.main-head,
main.wrap section,
footer
    padding-left: 15px
    padding-right: 15px
section
    padding-top: 75px
    padding-bottom: 100px
.section-title
    text-align: center
    margin-bottom: 50px
    padding-bottom: 12px
    .maintitle
        font-size: 2.25rem
        text-transform: uppercase
        padding-bottom: 11px
        +f-heavy
        +after
            border-radius: 0.125rem
            background-color: #0077c0
            width: 75px
            height: 4px
            margin-top: 15px
            +X-auto
            max-width: 0
            transition: all .35s 1.2s
        &.aos-animate
            &:after
                max-width: 75px
    img.aos-animate + .maintitle:after
        max-width: 75px
    .subtitle
        +font
        font-size: 0.875rem
        color: #0077c0
        text-transform: uppercase
.btn-play
    background: none
    border: 0
    +hvr
        outline: none
    .play-wrap
        line-height: 50px
        background-image: linear-gradient(to top, #0077c0 0%, #0142a3 100%)
        border-radius: 25px
        width: 50px
        padding: 0
        height: 50px
        margin-right: 20px
        position: relative
        img
            top: 0
            bottom: 0
            display: inline-block
            vertical-align: middle
            position: absolute
            bottom: 0
            left: 0
            right: 0
            margin: auto
            width: 28px
            pointer-events: none
    span
        pointer-events: none
        color: #0077c0
        text-transform: uppercase
        font-size: 1.063rem
        +f700
.btn
    padding: 0 18px 0 18px
    color: #222
    font-size: 15px
    text-transform: uppercase
    line-height: 50px
    display: inline-block
    position: relative
    overflow: hidden
    border-width: 0
    &.blue
        background-image: linear-gradient(to top, #008ce2 0%, #0654c9 100%)
        font-size: 17px
        box-shadow: 0px 1px 0.4px 0.4px rgba(0, 0, 0, 0.5)
        border-radius: 18px
        color: #fff
        height: 35px
        +f500
        line-height: 35px
        background-color: #0077c0
        padding: 0 30px 0 30px

    &.light
        background-image: linear-gradient(to top, #a3e2fd 0%, #c7eeff 100%)
        border-radius: 25px
        min-width: 200px
        font-size: 17px
        box-shadow: 0px 1px 0.4px 0.4px rgba(0, 0, 0, 0.5)
        +font
        +mediaMax(xs)
            min-width: 150px
            font-size: 14px
    &.small
        line-height: 20px
        border-radius: 10px
        font-size: 12px
        min-width: 80px
        +Font($noah,400)
    &.no-btn:not(.v2)
        padding: 0 18px 0 18px
        height: 50px
        line-height: 50px
        background: none
        border: 0
        display: inline-block
        transition: background-color.2s cubic-bezier(.35,0,.25,1)
        border-radius: 4px
        +hvr
            background: rgba(0, 0, 0, 0.07)
            text-decoration: none
            box-shadow: none
    &.no-btn.v2
        padding: 0 18px 0 18px
        height: 50px
        line-height: 50px
        background: none
        border: 0
        display: inline-block
        border-radius: 4px
        +hvr
            background: transparent
            text-decoration: none
            box-shadow: none
.ink
    display: block
    position: absolute
    background: rgba(255, 255, 255, 0.2)
    border-radius: 100%
    transform: scale(0)
    pointer-events: none
    &.animate 
        animation: ripple 0.65s linear
+keyframes(ripple)
    100%
        opacity: 0
        transform: scale(2.5)
.menu-ink
    border-bottom: 2px solid #fff
    position: absolute
    bottom: 15px
    width: 0
    transition: all .8s cubic-bezier(0.54, 1.5, 0.72, 1)
    margin-left: 25px
    pointer-events: none
.nav-open header.bg
    box-shadow: none
.aos-controller
    overflow: hidden
section.offers
    .item
        padding: 20px
        +mediaMax(lg)
            padding: 15px
        .item-wrap
            max-width: 400px
            margin: auto
            box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)
            height: 100%
            background-color: #fff
            border-radius: 10px
            position: 
            transition: all 0.35s cubic-bezier(0, 0.49, 0, 2.4)
            padding: 18px
            position: relative
            display: flex
            flex-wrap: wrap
            flex-direction: column
            .item-action
                margin-top: auto
                margin-bottom: 7px
                text-align: center
            &:hover
                box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2)
            .item-title
                margin-top: 23px
                +f700
                text-transform: uppercase
                font-size: 1.25rem
                text-align: center
                color: #0077c0
            .item-badge
                position: absolute
                top: -10px
                width: 65%
                height: 30px
                margin: auto
                display: block
                left: 0
                right: 0
                text-align: center
                border-radius: 4px
                color: #ffffff
                font-size: 0.875rem
                padding: 7px
            .img-wrap
                margin-top: 25px
                text-align: center
                +bg("../images/serviceitem-bg.png")                
                background-repeat: no-repeat
                background-position: 50% 50%
                background-size: contain
                margin-bottom: 32px
                position: relative
                .item2
                    margin-top: -10px
            .item-feature 
                margin-bottom: 50px

.badge-wrapper 
    display: block
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    z-index: 5
    width: 100%
    height: 100%
    /* border-radius: 50% */
    border-radius: 4px
    transition: 0.9s
    -webkit-transform: translate3d(10px, 20px, 0) scale(1.5) rotate(-45deg)
    transform: translate3d(10px, 20px, 0) scale(1.5)
    opacity: 0

.badge-wrapper .back,
.badge-wrapper .front 
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    overflow: hidden
    transition: 0.9s

.badge-wrapper .back:before,
.badge-wrapper .front:before 
    content: " "
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    /* border-radius: 50% */
    border-radius: 4px
    transition: 0.9s
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    
.badge-wrapper .front 
    /* height: 0 */
    width: 0

.badge-wrapper .front .content 
    position: absolute
    bottom: 0
    left: 0
    display: block
    width: 100%
    height: 100%
    /* -webkit-transform: rotate(45deg) */
    /* transform: rotate(45deg) */
    background-image: linear-gradient(to top, #008ce2 0%, #0654c9 100%)
    color: #FFF
    line-height: 30px
    font-size: 0.8em
    +f700
    font-size: 14px
    text-align: center
    /* border-radius: 50% */
    border-radius: 4px

.badge-wrapper .back 
    /* top: 130px */
    left: -100%
    overflow: hidden

.badge-wrapper .back:before 
    //background-image: linear-gradient(to top, #f5fcff 0%, #c7eeff 100%)//     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4)
    background-color: #c7eeff
    // box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12)
    
    
    /* top: 0 */
    left: 0


.item-badge 
    position: relative

.item-badge.aos-animate .badge-wrapper 
    /* -webkit-transform: translate3d(0, 0, 0) scale(1) rotate(-45deg) */
    transform: translate3d(0, 0, 0) scale(1)
    transition-delay: 1.8s
    opacity: 1

.item-badge.aos-animate .badge-wrapper .front 
    /* height: 130px */
    width: 100%
    transition-delay: 1.8s

.item-badge.aos-animate .badge-wrapper .back 
    /* top: 0 */
    left: 0
    transition-delay: 1.8s

.item-badge.aos-animate .badge-wrapper .back:before 
    /* top: -130px */
    left: 100%
    transition-delay: 1.8s
.price-group
    text-align: center
    color: #0077c0
    height: 45px
    line-height: 45px
    margin-bottom: 50px
    .value
        font-size: 3.125rem
        +noah(700)
    .month
        font-size: 1.25rem
        margin-left: 3px
        +font
    .currency
        font-family: sans-serif
        font-weight: 600
        vertical-align: top
        line-height: 1
        font-size: 1.5rem
.single-feature
    margin-bottom: 15px
    span
        margin-left: 16px
        font-size: 13px
button.modal-close .shape 
    display: block
    position: absolute
    height: 3px
    width: 100%
    background: #fff
    opacity: 1
    left: 0
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: 0.25s ease-in-out
    -moz-transition: 0.25s ease-in-out
    -o-transition: 0.25s ease-in-out
    transition: 0.25s ease-in-out
    transition-delay: 0s

button.modal-close
    outline: none
button.modal-close .shape
    transition-delay: 0.35s
    pointer-events: none


button.modal-close .shape:nth-child(1) 
    top: 0


button.modal-close .shape:nth-child(2),
button.modal-close .shape:nth-child(3) 
    top: 10px
button.modal-close .shape:nth-child(4) 
    top: 20px
button.modal-close .shape:nth-child(1) 
    top: 10px
    width: 0%
    left: 50%


button.modal-close .shape:nth-child(2) 
    -webkit-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    -o-transform: rotate(45deg)
    transform: rotate(45deg)


button.modal-close .shape:nth-child(3) 
    -webkit-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    -o-transform: rotate(-45deg)
    transform: rotate(-45deg)

button.modal-close
    border: 0.063rem solid #0077c0
    width: 30px
    height: 30px
    border: 1px solid #0077c0
    border-radius: 50%
    padding: 0
    line-height: 30px
    position: absolute
    right: 16px
    top: 16px
    +hvr
        border: 1px solid #0077c0
    .shape
        background-color: #a2a2a2
        width: 15px
        margin: auto
        left: 0
        right: 0
        pointer-events: none
    .shape:nth-child(2), 
    .shape:nth-child(3)
        top: 0
        bottom: 0
.form-wrap
    width: 350px
    margin: auto
    max-width: 100%
    .form-head
        border-radius: 10px 10px 0 0
        background-color: #56c5f1
        background-image: linear-gradient(to top, #008ce2 0%, #0654c9 100%)
        text-align: center
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12)
        +py(25px)
        .form-title
            margin-bottom: 0
            line-height: 1
            font-size: 1.5rem
            +noah(700)
            color: #fff
            text-transform: uppercase
    .form-body.form-init
        padding: 30px
        background-color: #fff
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12)
    .form-action
        text-align: center
    .btn.blue
        margin-top: 50px

.mdc-radio
    overflow: hidden
.radio-title
    font-size: 14px
    margin-top: 30px
    +noah(700)
.form-init
    .mdc-form-field
        margin-top: 5px
        label
            margin-top: 0
            &:hover
                cursor: pointer
.contacts-info
    +d-flex
    flex-direction: column
    margin-top: 1rem
    .single-info
        +d-flex
        +ai(center)
        margin-top: .7rem
        margin-bottom: .7rem
        color: #1d242b
        +font
        img
            margin-right: 20px
            margin-left: 7px
        span
            width: calc(100% - 65px)
.contact-content 
    margin-top: 100px
.submot-wrap
    height: 80px
    text-align: center
    justify-content: center
.modal-header
    .part-title
        +noah(700)
        text-transform: uppercase
        color: #0077c0
        font-size: 1.5rem
        text-align: center
        +mx-auto
.form-control:disabled, .form-control[readonly]
        background-color: #e9ecef66
.aos-controller
    padding-bottom: 2px
+mediaMax(sm)
    .contacts-info .single-info
        min-width: 25%
+mediaMax(xs)
    .contacts-info .single-info
        width: 100%
@media (min-width: 768px) and (max-width: 991px)
    .contacts-info
        // align-items: center
    .contact-content .col-lg-4.col-xl-3
        +d-flex
        flex-direction: column
        img
            margin-right: auto
            display: inline-block
    .contacts-info .single-info
        justify-content: center
        max-width: 36%
        min-width: 26%

.micro_modal.fullscreen-modal[aria-hidden='false'] .modal_overlay,.micro_modal[aria-hidden='false'] .modal_container
    animation: tooltin 0.3s cubic-bezier(0, 0, 0.2, 1)

// .micro_modal[aria-hidden=true] .modal_container
//     animation: tooltout 0.3s cubic-bezier(0, 0, 0.2, 1)
.micro_modal .form-init form
    background-color: transparent
    padding: 0
    border: 0
.wpcf7-form-control-wrap
    display: block
    width: 100%
.mdc-checkbox::before, .mdc-checkbox::after
    max-height: 100%
    max-width: 100%
.micro_modal .form-init form .mdc-form-field
    margin-top: 30px
    margin-bottom: 30px
    align-items: center
    display: flex
    flex-wrap: wrap
.scroll-content
    padding: 0 15px
.dropdown .scroll-content
    padding: 0
.modal-content
    max-height: 75vh
.scrollbar-track-y
    opacity: .5 !important
.scrollbar-thumb,.scrollbar-track-y
    width: 5px !important
.mdc-snackbar
    z-index: 10000
.wpcf7-response-output, .wpcf8-response-output
    display: none !important
.mdc-snackbar__surface
    background-image: linear-gradient(to top, #025aa2 0%, #03a1fc 100%)
    colur: #fff
#order .img-wrap
    text-align: center
    margin-bottom: 25px
    position: relative
+mediaMax(sm)
    .hidden-max-sm
        display: none
    .form-group.multiply .form-group
        width: 100% !important
    .wpcf7-form-control.g-recaptcha.wpcf7-recaptcha
        transform: scale(.7)
        transform-origin: left top
        -webkit-transform-origin: left top
        overflow: hidden
.form-init .mdc-form-field label
    max-width: calc(100% - 50px)
+mediaMax(md)
    .swiper-wrapper
        flex-wrap: initial !important
        .item.col-md-4
            max-width: initial
            width: initial
            flex: initial
    .swiper-container
        padding-bottom: 50px
+mediaMin(lg)
    .swiper-pagination
        display: none
    .swiper-container
        overflow: visible
[data-loaded=true]+.swiper-lazy-preloader 
    display: none
.lazyload:not([data-loaded="true"])
    opacity: 0
.offers-content .col-12 > p
    font-size: 12px
.form-init form > .form-group:not(.multiply)
    width: 100%
.form-init.simulate .lab-wrap 
    position: relative
    display: block
    max-height: 19px
.form-init .form-group
    max-width: 100%
.about-content p 
    font-size: 14px
.form-init.simulate form > .form-group:not(.multiply),.modal-form.form-init.simulate > .form-group:not(.multiply)
    width: calc(100% - 30px)
.modal-form.form-init.simulate
    margin-bottom: 30px
.form-init .form-group.invalid .form-control,.micro_modal input.wpcf7-not-valid
    color: rgba(0, 0, 0, 0.2)
.page-template-default,
.error404
    header.main-head
        background-color: #0077c0
        background-image: linear-gradient(to top, #025aa2 0%, #03a1fc 100%)
    main.wrap 
        padding-top: 165px
        p
            margin-bottom: 30px
    h1
        +f-heavy
        font-size: 36px
        padding-bottom: 19px
        text-transform: uppercase
        +after
            width: 75px
            height: 4px
            border-radius: 2px
            background-color: #0077c0
            max-width: calc(100% - 10px)
            left: 0
            right: 0
            bottom: 0
            margin: auto
    h2
        font-size: 24px
        font-weight: 700
    h3
        font-size: 14px
        line-height: 24px
        font-weight: 700
    .single-page
        padding-bottom: 100px
        +mediaMax(sm)
            padding-left: 15px
            padding-right: 15px
.error404 header.main-head
    display: none
.error404 main.wrap 
    height: 100vh
    display: flex
    flex-wrap: wrap
    align-items: center
    padding-top: 0
    +bg("../images/404.png")
    background-size: cover
    background-position: 50% 60%
    h1
        font-size: 1.563rem
        +f700
        margin-bottom: 80px
        +after
            display: none
    .bit-title
        +f-black
        font-size: 12.5rem
.contact-content .add-info
    display: flex
    flex-wrap: wrap
    margin: 0 -15px
+mediaMax(sm)
    [data-aos][data-aos]
        transform: initial !important
        opacity: 1 !important
    .section-title .maintitle:after
        max-width: 75px
footer
    height: 100px
    display: flex
    flex-wrap: wrap
    align-items: center
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(2,90,162,.75)),to(rgba(3,161,252,.75)))
    background-image: -webkit-linear-gradient(bottom,rgba(2,90,162,.75),rgba(3,161,252,.75))
    background-image: -o-linear-gradient(bottom,rgba(2,90,162,.75) 0,rgba(3,161,252,.75) 100%)
    background-image: linear-gradient(0deg,rgba(2,90,162,.75),rgba(3,161,252,.75))
    /* border-top: 1px solid; */
    box-shadow: 0 1px 2px 1px #000
    
    .foot-links .col-auto
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        margin: auto
        a
            color: #fff
            margin: 5px 15px
            +hvr
                color: #fff
